@page "/"

@using Microsoft.AspNetCore.SignalR.Client

<PageTitle>Home</PageTitle>

<MudText Typo="Typo.body1">Welcome to InvoizR, this is a toolkit for e-billing integration built with .NET Core and MudBlazor!</MudText>

<br />

<MudText Typo="Typo.body2">You can read more about this solution in <a href="https://github.com/hherzl/InvoizR" target="_blank"><strong>GitHub repository</strong></a>.</MudText>
