body {
    font-family: Verdana;
    font-size: 11px;
}

h1 {
    color: black;
    text-align: center;
}

h2 {
    color: navy;
    text-align: center;
}

.header-table {
    width: 100%;
}

.logo {
    width: 125px;
    height: 125px;
}

.qr {
    width: 100px;
    height: 120px;
}

table caption {
    font-weight: bold;
}

.emitter-table {
    background-color: #87cefa;
    width: 100%;
}

.receiver-table {
    width: 100%;
}

.invoices-table {
    border: 1px solid black;
    width: 100%;
}

.invoices-row {
}

.invoices-alt-row {
    background-color: #b0c4de;
}

.reason-table {
    border: 1px solid black;
    width: 100%;
}
